html {
    font-size: 62.5%;
}
#container {
    line-height: 2;
    font-size: 1.6em;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
    border: 4px solid #f1f1f1;
    width: 70%;
    max-width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.on-off-switch {
    margin: 0 auto;
    border: 1px solid #D1D1D1;
    background-color: #fff;
    border-radius: 35px;
    padding: 4px;
    width: 110px;
    cursor: pointer;
}
.on-off-switch .handle {
    line-height: 60px;
    border-radius: 30px;
    text-align: center;
    width: 70px;
    height: 60px;
    margin-left: 40px;
    background-color: #D1D1D1;
    transition: margin-left 0.3s ease, background-color 0.3s ease;
    font-size: 1.5em;
    font-weight: 700;
}
.on-off-switch .handle::before {
    content: "off";
    color: #fff;
}
.on-off-switch.is-active .handle {
    margin-left: 0;
    background-color: #33C3F0;
}
.on-off-switch.is-active .handle::before {
    content: "on";
}
.on-off-switch input {
    display: none;
}
